.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 300px;
    margin-top: 200px;
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    padding-top: 60px;
}

@media (width >= 800px) {
    .experienceContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
} 